#!/usr/bin/python3
"""
    {{class}}

    Program: {{file_name_with_extension}}
    Author: {{author}} ({{author}} [at] students.school.edu)
    Date: {{create_time}}, Version 1.0
    Description:

    OS & Python Versions:
       OS: {{system_version}}
       Python: {{python_version}}
        
    Command Line & Output:
    ~$ python3 {{file_name_with_extension}}
	
	
"""

#____________________________________________________________________________80
# Import libraries and declare global variables

#____________________________________________________________________________80

# main() function
def main():
    pass

#____________________________________________________________________________80
# Call main()
main()